@page "/adventures"

<PageTitle>Adventures</PageTitle>

<h1>Adventures</h1>

<p>To be filled with adventures from the internet. Such as going back to ZFS, trying proxmox, photography.</p>
<p>See <a href="https://github.com/Moskoskos/atleag/issues?q=is%3Aissue+is%3Aopen+label%3Aadventures">related issues</a> for more insight.</p>

