@page "/"

<PageTitle>Index</PageTitle>



<h1>Oppskrifter</h1>


<details>
  <summary>
<h2>Spareribs / Shortribs / Babybackribs</h2>
    <span class="icon">👇</span>
  </summary>
  <p>

<h3>Ingredienser</h3>
<ul>
<li>Kjøtt</li>
<li>BBQ Rub (Se oppskrift lenger nede)</li>
<li>BBQ Sauce</li>
<li>Vann / Eplejuice</li>
</ul>

<h3>Utstyr</h3>
<ul>
<li>Alu foil</li>
<li>Tørkerull</li>
<li>Pensel</li>
<li>Steketermometer (ikke stol på grillen / ovnen)</li>

</ul>

<h3>Fremgangsmetode</h3>
<ol>
<li>Fjern hinne på beinsiden ved å kutte et snitt slik at du får tak i ei flik. Bruk tørkepapir til å dra / rulle.</li>
<li>Saus inn kjøttet med sennep</li>
<li>Tøm BBQ rub over kjøttet og gni godt inn</li>
<li>Pakk kjøttet i alu foil.</li>
<li>Legg i ovn / smoker / grill på 105 grader i 3 timer.</li>
<li>Pakk ut kjøttet og strø på mer krydder. Tilbake på varmen uten alu foil.</li>
<li>Mer krydder. Saus in me BBQ saus og kjør på grillen.</li>
<li></li>
<li></li>
</ol>

Kilder
<a href="https://gladkokken.com/recipes/perfect-spare-ribs-do-as-the-pros-use-3-2-1-method">Gladkokken</a>
<a href="https://coop.no/emv/dagligvare/grill-perfekt/tips-og-oppskrifter/kjott/rodt-kjott/spareribs-med-3-2-1-metoden/">Coop</a>
<a href="https://heygrillhey.com/3-2-1-ribs-perfect-fall-off-the-bone-ribs/">HeyGrillHey</a>


 
  </p>
</details>

<details>
  <summary>
   <h2>
   BBQ Rub
   </h2>
    <span class="icon">👇</span>
  </summary>
  <p>
     <ul>
<li> 1 stort syltetøyglass </li>
<li> 150 gram brunt sukker </li>
<li> 100 gram salt </li>
<li> 5 ss paprika pulver </li>
<li> 3 ss sennepspulver </li>
<li> 3 ss hel sort pepper </li>
<li> 3 ss løkpulver </li>
<li> 2 ss hvitløkspulver </li>
<li> 1 ss cayennepepper </li>
<li> 1 ss chiliflak </li>
<li> 1 ss spisscummin malt </li>
</ul>

<a href="https://coop.no/emv/dagligvare/grill-perfekt/gladkokken/rub/#">Hentet fra coop.no</a>

  </p>
</details>

<details>
  <summary>
   <h2>
   Pannekaker
   </h2>
    <span class="icon">👇</span>
  </summary>
  <p>
  <h3>ca 6dl røre / 6 pannekaker</h3>

<ul>
<li> 2 dl Melmix <a href="https://www.barlife.no/melmix-glutenfri-finax-900g-671330.html?gbraid=0AAAAAC-w_q2XBEFGsBjkc1x1vF_l8adeF&gclid=CjwKCAjw2K6lBhBXEiwA5RjtCXQx-QG1SvfWcpOvMF6_vlYchWugpJCE94J-BOTGgMMwgDDyULb1hxoCJ60QAvD_BwE
">Glutenfri</a></li>
<li> 4 dl Melk</li>
<li> 1 egg</li>
<li> 1 ss smør</li>
<li> 1 ss sukker.</li>
</ul>

<ol>
<li> Smelt 1 ss smør i en kopp i micro</li>
<li> Hell 4dl Melmix, 2dl melk, smørret og 1 ss sukker i en beholder</li>
<li> Kjør smørja sammen med en stavmixer til de fleste klumper er ute.</li>
<li> Kast oppi et egg og kjør mixern en gang til.</li>
</ol>

  </p>
</details>






<details>
  <summary>
   <h2>
   Template
   </h2>
    <span class="icon">👇</span>
  </summary>
  <p>
  Fill in content
  </p>
</details>



