@page "/"


<MudText Class="mb-8">This site was set up in a hurry in order to digitalize some recipes that I tended to need quite often. Don't expect much fancy frontend nor backend finesse.</MudText>
<MudText Class="mb-4"><a href="https://github.com/Moskoskos/atleag/issues/3">Open issue</a></MudText>

