@page "/"

<PageTitle>Index</PageTitle>

<p>This site was set up in a hurry in order to digitalize some recipes that I tended to need quite often. Don't expect much fancy frontend nor backend finesse.</p>
<p><a href="https://github.com/Moskoskos/atleag/issues/3">Open issue</a></p>



