@page "/"

<PageTitle>Index</PageTitle>

<h1>Pannekaker</h1>
ca 6dl røre / 6 pannekaker

* 4dl Melmix https://www.barlife.no/melmix-glutenfri-finax-900g-671330.html?gbraid=0AAAAAC-w_q2XBEFGsBjkc1x1vF_l8adeF&gclid=CjwKCAjw2K6lBhBXEiwA5RjtCXQx-QG1SvfWcpOvMF6_vlYchWugpJCE94J-BOTGgMMwgDDyULb1hxoCJ60QAvD_BwE
* 2dl Melk
* 1 egg
* 1 ss smør
* 1 ss sukker.

1. Smelt 1 ss smør i en kopp i micro
2. Hell 4dl Melmix, 2dl melk, smørret og 1 ss sukker i en beholder
3. Kjør smørja sammen med en stavmixer til de fleste klumper er ute.
4. Kast oppi et egg og kjør mixern en gang til.


<SurveyPrompt Title="How is Blazor working for you?"/>


