@page "/"

<PageTitle>Index</PageTitle>

<h1>Pannekaker</h1>
ca 6dl røre / 6 pannekaker

<ul>
<li> 4dl Melmix <a href="https://www.barlife.no/melmix-glutenfri-finax-900g-671330.html?gbraid=0AAAAAC-w_q2XBEFGsBjkc1x1vF_l8adeF&gclid=CjwKCAjw2K6lBhBXEiwA5RjtCXQx-QG1SvfWcpOvMF6_vlYchWugpJCE94J-BOTGgMMwgDDyULb1hxoCJ60QAvD_BwE
">Glutenfri</a></li>
<li> 2dl Melk</li>
<li> 1 egg</li>
<li> 1 ss smør</li>
<li> 1 ss sukker.</li>
</ul>

<ol>
<li> Smelt 1 ss smør i en kopp i micro</li>
<li> Hell 4dl Melmix, 2dl melk, smørret og 1 ss sukker i en beholder</li>
<li> Kjør smørja sammen med en stavmixer til de fleste klumper er ute.</li>
<li> Kast oppi et egg og kjør mixern en gang til.</li>
</ol>


<SurveyPrompt Title="How is Blazor working for you?"/>


