@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?"/>

Pannekaker
ca 6dl røre / 6 pannekaker

* 4dl Melmix https://www.barlife.no/melmix-glutenfri-finax-900g-671330.html?gbraid=0AAAAAC-w_q2XBEFGsBjkc1x1vF_l8adeF&gclid=CjwKCAjw2K6lBhBXEiwA5RjtCXQx-QG1SvfWcpOvMF6_vlYchWugpJCE94J-BOTGgMMwgDDyULb1hxoCJ60QAvD_BwE
* 2dl Melk
* 1 egg
* 1 ss smør
* 1 ss sukker
