@page "/recipes"

<PageTitle>Recipes</PageTitle>

<MudText Typo="Typo.h4">Recipes</MudText>
<MudText> Work in progress</MudText>

<MudExpansionPanels>
    <MudExpansionPanel Text="Spareribs / Shortribs / Babybackribs">
        <b>Ingredienser</b>
        <ul>
            <li>Kjøtt</li>
            <li>BBQ Rub (Se oppskrift lenger nede)</li>
            <li>BBQ Sauce</li>
            <li>Vann / Eplejuice</li>
        </ul>
        <b>Utstyr</b>
        <ul>
            <li>Alu foil</li>
            <li>Tørkerull</li>
            <li>Pensel</li>
            <li>Steketermometer (ikke stol på grillen / ovnen)</li>
        </ul>
        <b>Fremgangsmetode</b>
        <ol>
            <li>Fjern hinne på beinsiden ved å kutte et snitt slik at du får tak i ei flik. Bruk tørkepapir til å dra / rulle.</li>
            <li>Saus inn kjøttet med sennep</li>
            <li>Tøm BBQ rub over kjøttet og gni godt inn</li>
            <li>Pakk kjøttet i alu foil.</li>
            <li>Legg i ovn / smoker / grill på 105 grader i 3 timer.</li>
            <li>Pakk ut kjøttet og strø på mer krydder. Tilbake på varmen uten alu foil.</li>
            <li>Mer krydder. Saus in me BBQ saus og kjør på grillen.</li>
            <li></li>
            <li></li>
        </ol>
        <p>Kilder
            <a href="https://gladkokken.com/recipes/perfect-spare-ribs-do-as-the-pros-use-3-2-1-method">Gladkokken</a>
            <a href="https://coop.no/emv/dagligvare/grill-perfekt/tips-og-oppskrifter/kjott/rodt-kjott/spareribs-med-3-2-1-metoden/">Coop</a>
            <a href="https://heygrillhey.com/3-2-1-ribs-perfect-fall-off-the-bone-ribs/">HeyGrillHey</a>
        </p>
    </MudExpansionPanel>
    <MudExpansionPanel Text="BBQ Rub">
        <b>Ingredienser</b>
        <ul>
            <li> 1 stort syltetøyglass </li>
            <li> 150 gram brunt sukker </li>
            <li> 100 gram salt </li>
            <li> 5 ss paprika pulver </li>
            <li> 3 ss sennepspulver </li>
            <li> 3 ss hel sort pepper </li>
            <li> 3 ss løkpulver </li>
            <li> 2 ss hvitløkspulver </li>
            <li> 1 ss cayennepepper </li>
            <li> 1 ss chiliflak </li>
            <li> 1 ss spisscummin malt </li>
        </ul>
        <p>Kjør i en mikser for en jevn blanding.</p>
        <a href="https://coop.no/emv/dagligvare/grill-perfekt/gladkokken/rub/#">Hentet fra coop.no</a>
    </MudExpansionPanel>
    <MudExpansionPanel Text="Pannekaker">
        <p>ca 6dl røre / 6 pannekaker</p>
        <b>Ingredienser</b>
        <ul>
            <li> 2 dl Melmix <a href="https://www.barlife.no/melmix-glutenfri-finax-900g-671330.html?gbraid=0AAAAAC-w_q2XBEFGsBjkc1x1vF_l8adeF&gclid=CjwKCAjw2K6lBhBXEiwA5RjtCXQx-QG1SvfWcpOvMF6_vlYchWugpJCE94J-BOTGgMMwgDDyULb1hxoCJ60QAvD_BwE
">Glutenfri</a></li>
            <li> 4 dl Melk</li>
            <li> 1 egg</li>
            <li> 1 ss smør</li>
            <li> 1 ss sukker.</li>
        </ul>
        <b>Fremgangsmåte</b>
        <ol>
            <li> Smelt 1 ss smør i en kopp i micro</li>
            <li> Hell 4dl Melmix, 2dl melk, smørret og 1 ss sukker i en beholder</li>
            <li> Kjør smørja sammen med en stavmixer til de fleste klumper er ute.</li>
            <li> Kast oppi et egg og kjør mixern en gang til.</li>
        </ol>
    </MudExpansionPanel>
    <MudExpansionPanel Text="Honey glazed chicken with garlic and chilli">
        <p>4 servings</p>
        <p>Prep: 10m</p>
        <p>Cook: 15m</p>
        <b>Ingredients</b>
        <ul>
            <li> 5-6 chicken thighs (boneless)</li>
            <li> 2tbs cornstarch</li>
            <li> 1/2 tsp ground pepper</li>
            <li> 2 tbsp oil</li>
            <li> 4-5 garlic gloves, minced</li>
            <li> 1/4 cup chicken stock (0.71ml or 85g) </li>
            <li> 1/4 cup honey (0.71ml or 85g) Alternatively 106g sugar. (100g sugar = 75g honey)</li>
            <li> 1 tbsp soy sauce</li>
            <li> 1 tbsp rice vinegar</li>
            <li> 1 tsp red chili flakes (2 for a better chance of Filipino approval</li>
            <li> 1 tbsp parsley, chopped</li>
        </ul>
        <p>Optional: Marinate the thighs in baking soda for 15min - 12hrs. Recommended for chicken breast.</p>
        <b>Steps</b>
        <ol>
            <li> Add chicken thighs to a bowl with cornstarch, salt and pepper. Coat well.</li>
            <li> In a small bowl: Mix chicken stock, honey, soy sauce, vinegar, chilli flakes and parsley.</li>
            <li> Heat pan to medium heat. </li>
            <li> Add oil to pan. Wait til heated.</li>
            <li> Add chicken thighs. Cook for 5-6m. Flip when a sear is visible.</li>
            <li> Move chicken to the sides and add butter to the center.</li>
            <li> Once melted, add minced garlic and fry for a minute.</li>
            <li> Add sauce mixture to the pan and cook for 5 minutes on low/medium until sauce has thickened.</li>
        </ol>
        <p> Having tapas? This dish can easily be reheated. If the chicken turns out try consider marinating in baking soda. </p>
        <a href="https://gimmedelicious.com/honey-garlic-chicken/">From gimmedelicious.com</a>
        <p>Fun fact: This is the reason I created this web site. The amount of bloated content on recipe sites is just absurd. Serving ads is one thing but the lengths they go through to keep you on the site is just absurd.</p>
    </MudExpansionPanel>
</MudExpansionPanels>
