@page "/wishlist"

<PageTitle>Wishes</PageTitle>

<h1>Wishes</h1>

OG: https://github.com/Moskoskos/Wishywish/wiki

WIP:
<MudExpansionPanels>
    <MudExpansionPanel Text="Photo">
        <MudList Dense="true">
             <MudListItem Text="Tamron 17-70/2.8 Di III for Sony E">
                <MudLink Href="https://www.prisjakt.no/product.php?p=5667336">Prisjakt</MudLink>
             </MudListItem>
             <MudListItem Text="" />
             <MudListItem Text="" />
             <MudListItem Text="" />
        </MudList>
    </MudExpansionPanel>
</MudExpansionPanels>
